- if publisher.present?
<<<<<<< HEAD
  %aside.author
    %b.title 课程设计者
    %img.avatar{ :src => publisher.avatar_link }
    %a.name{ :href => publisher_path(publisher) }
      = publisher.name
    %p= publisher.short_description
=======
	%aside.author
		%b.title 课程设计者
		%img.avatar{ :src => publisher.avatar_link }
		%a.name{ :href => publisher_path(publisher) }
			= publisher.name
		%p= publisher.short_description
>>>>>>> 85d9c3f19c8ca4bd5bf606d3f5dba1f96695976c
